<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userName" value ="51049064inf"/>
    <add key="password" value ="6882886"/>
    <add key="LoginUrl" value ="http://10.66.1.6:8088/EAPDomain/login.do;jsessionid=42hJZ1vY8nqTm4r1Lxr5gnMy3r6DlG2z5482w0yQJnpCQtX3fm7J!-1522201963?method=begin"/>
    <!--门诊医生开方界面url-->
    <add key="FeePriceUrl" value ="http://10.66.1.6:8088/EAPDomain/si/pages/opb/fee/feeprice.jsp?menuid=1399430526848"/>
  </appSettings>
</configuration>