<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="userName" value="51049064inf"/>
    <add key="password" value="6882886"/>
    <add key="LoginUrl" value="http://10.66.1.6:8088/EAPDomain/login.do"/>
    <!--门诊医生开方界面url-->
    <add key="FeePriceUrl" value="http://10.66.1.6:8088/EAPDomain/si/pages/opb/fee/feeprice.jsp?menuid=1399430526848"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
